body
{
    background: url(../img/back2.jpg) no-repeat center center fixed;
    background-size: cover;
    min-width: 850px; /* suppose you want minimun width of 1000px */
    /*width: auto !important; /* Firefox will set width as auto
     width: 1000px; /* As IE ignores !important it will set width as 1000px; */
}

.navbar
{
    background: #455868;
}

#navbar
{
    overflow: hidden;
}

.navbar-default
{
    background-color: #455868;
    border-color: #FDC000;
    border-width: medium;
    border-radius: 10px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


#navbar > ul > li > a
{
    color: #FFFFFF;
    font-family: Verdana;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #FDC000;
    margin-bottom: -1px;
}

#navbar > ul:nth-child(1), #navbar > ul.nav.navbar-nav.navbar-right
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#listitem :hover
{
    background: #FDC000;
    border-radius: 1px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
    background: #FDC000;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #FDC000;
}

#btnLogin
{
    background: #455868;
    border-color: #FDC000;
}

.btn-default
{
    background: #FDC000;
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

.btn-success{
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

.btn-danger{
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

.well
{
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
}

#whiterow
{
    margin-left: 8%;
}

#columnchart_week > svg > g:nth-child(2) > rect:nth-child(1)
{
    background: red;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    background-color: #FDC000;
}

#navbar > ul:nth-child(1) > li.dropdown:hover
{
    background: #FDC000;
    border-radius: 1px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: #FDC000;
    outline: 0 none;
}

/*If IE10 or Higher*/
@media screen and (-ms-high-contrast: active) , (-ms-high-contrast: none)
{

}

@media (max-width: 992px)
{
    #navbar > ul:nth-child(1) > li.dropdown:hover
    {
        background: none;
    }

    #navbar > ul > li.dropdown.open > ul > li > a
    {
        color: white;
    }

    #navbar > ul > li.dropdown.open > ul > li:hover
    {
        background: #FDC000;
        border-radius: 1px;
    }

    #navbar > ul:nth-child(1) > li.dropdown.open > ul > li.dropdown.dropdown-submenu.open:hover
    {
        background: none;
    }

    #droplist > a
    {
       color: white;
    }

    #droplist:hover
    {
        background: #FDC000;
        border-radius: 1px;
    }

    #navbar > ul:nth-child(1) > li.dropdown.open > ul > li.dropdown.dropdown-submenu.open > a:focus
    {
       background: #FDC000;
       border-radius: 1px;
    }
}
