<h1>Test Results admin</h1>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test honeyList()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\core\MY_Controller.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">168</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if the server contains a certain type of honeypot</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test getData()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\core\MY_Controller.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">178</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if the function is returning all the text data</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test getUsername</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\admin.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">94</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if getUsername() returns an array of data</td>
	</tr>
</table>