<h1>Test Results Location</h1>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test fillMap()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">677</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if fillMap returns an array of data</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test fillGeo()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">685</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if fillGeo() returns an array of data</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test donutTypes()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">693</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if donutTypes() returns an array of data</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test donutAttacks()</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">701</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if donutAttacks() returns an array of data</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test myCodes('BE','long')</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">710</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">The parameters are 2 strings country and type, type can either be 'long' or 'short'</td>
	</tr>
</table>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test myCodes('belgium','short')</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">String</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\location.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">718</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">The parameters are 2 strings country and type, type can either be 'long' or 'short'</td>
	</tr>
</table>