<h1>Test Results amdin</h1>
<table style="width:100%; font-size:small; margin:10px 0; border-collapse:collapse; border:1px solid #CCC;">
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Name</th>
		<td style="border-bottom:1px solid #CCC;">Test getUsername</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Test Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Expected Datatype</th>
		<td style="border-bottom:1px solid #CCC;">Array</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Result</th>
		<td style="border-bottom:1px solid #CCC;"><span style="color: #0C0;">Passed</span></td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">File Name</th>
		<td style="border-bottom:1px solid #CCC;">C:\xampp\htdocs\Honeygit\application\controllers\admin.php</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Line Number</th>
		<td style="border-bottom:1px solid #CCC;">114</td>
	</tr>
	<tr>
		<th style="text-align: left; border-bottom:1px solid #CCC;">Notes</th>
		<td style="border-bottom:1px solid #CCC;">Checks if getUsername() returns an array of data</td>
	</tr>
</table>